@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

:root {
    --bg-dark-1: rgb(10, 10, 30);
    --bg-dark-2: rgb(30, 5, 40);
    --accent-color: rgb(138, 43, 226);
    --text-color: #ffffff;
    --border-color: rgba(255, 255, 255, 0.1);

    --transition-speed: 0.2s;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background: linear-gradient(135deg, var(--bg-dark-1), var(--bg-dark-2));
    background-attachment: fixed;
    overflow: hidden;
    user-select: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}