name: Build All Platforms
on:
  push:
    branches: [ "2.X" ]
  pull_request:
    branches: [ "2.X" ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build and Package
        run: |
          cmake --build build --config Release
          cd build
          cpack -C Release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: GVD-Packages-${{ matrix.os }}
          path: build/GUI-Video-Downloader-2.0.0-*