name: Multi-Platform Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NSIS
        run: choco install nsis -y

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          arch: 'win64_msvc2019_64'

      - name: Configure CMake
        run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Package (Generate Zip & Exe)
        run: |
          cd build
          cpack -C Release -V

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Windows-Builds
          path: |
            build/GUI-Video-Downloader-*-win64.exe
            build/GUI-Video-Downloader-*-win64.zip

  build-macos:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          host: 'mac'
          target: 'desktop'

      - name: Configure CMake
        run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Package (Generate Dmg & Zip)
        run: |
          cd build
          cpack -C Release -V

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macOS-Builds
          path: |
            build/GUI-Video-Downloader-*-Darwin.dmg
            build/GUI-Video-Downloader-*-Darwin.zip

  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0 x11-utils

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          host: 'linux'
          target: 'desktop'

      - name: Configure CMake
        run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Package (Generate Deb & Tar.gz)
        run: |
          cd build
          cpack -C Release -V

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Linux-Builds
          path: |
            build/GUI-Video-Downloader-*-Linux.deb
            build/GUI-Video-Downloader-*-Linux.tar.gz