name: CMake Build

on:
  push:
    branches: [ "2.X" ]
  pull_request:
    branches: [ "2.X" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.10.1'
          arch: 'win64_mingw'

      - name: Setup MSYS2 (MinGW)
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: >-
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja

      - name: Configure CMake
        shell: msys2 {0}
        run: |
          cmake -S . -B build -G "Ninja" \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_PREFIX_PATH="${{ env.Qt6_DIR }}"

      - name: Build
        shell: msys2 {0}
        run: cmake --build build --config Release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GUI-Video-Downloader-Exe
          path: build/App.exe