name: CMake Build

on:
  push:
    branches: [ "2.X" ]
  pull_request:
    branches: [ "2.X" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.10.1'
        arch: 'win64_mingw'
    - name: Configure CMake
      run: cmake -S . -B build -G "MinGW Makefiles"
    - name: Build
      run: cmake --build build
